<div class="content_login">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <nav>
      <%= link_to "<", :back %>
      <%= link_to "Home", '/' %>
    </nav>
    <div>
      <div class='shared_link'>
        <%= f.label :email, "Resend confirmation instructions" %>
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Email" %>
    </div>
    <%= f.submit "Resend confirmation instructions", class: "log_in reset_button" %>
    <%= render "devise/shared/error_messages", resource: resource %>
  <% end %>
  <div class='shared_link'>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  </div>
</div>
