<p style="color: green"><%= notice %></p>

<h1>Moves</h1>
<p>here shows the total amount of moves for this category</p>
<div id="moves">
  <% @moves.each do |move| %>
    <%= render move %>

    <div>
    <p><%= move.name %></p>
    <p><%= move.amount %></p>
    </div>
    <p>
      <%= link_to "Show this move", move %>
    </p>
  <% end %>
</div>

<%= link_to "New move", new_move_path %>
